*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1330px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.clear {
    clear: both;
}
.active {
    width: 40% !important;
    z-index: 20 !important;
}

.menu-hide {
    display: inline-block !important;
}

/*sidebar css*/

section#sidebar{
color: #ffff;
width: 20%;
margin-top: 0;
margin-left: 0;
height: 100%;
z-index: 20;
position: fixed;
transition: all 0.5s linear;
flex-direction: column;
background-position: center center;
background-color: rgb(55, 55, 213);
}
.sidebar-brand{
 height: 5vh;
 display: flex;
 padding: 50px 50px;
 font-size: 20px;
}
.sidebar-menu{
    margin-top: 50px;
}
.sidebar-menu ul li a{
    display: flex;
    color: #ffff;
    font-size: 16px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
}
.sidebar-menu ul li span{
   color: #ffff;
    text-align: center;
}
.sidebar-menu li:hover{
    background: rgba(184, 180, 180, 0.5);
  
}
.sidebar-menu ul li a {
    color: #bbb;
    display: block;
    padding: 10px 40px;
}

.sidebar-menu ul li span {
    padding-left: 10px;
}

.sidebar-menu ul li {
    transition: all 0.5s ease;
}

.sidebar-brand {
    padding: 30px 35px;
}

/*main-content css*/

section#main-content {
    width: 80%;
     float: right;
 }

header {
    background-color: #fff;
    box-shadow: 10px 10px 20px #ccc;
    width: 100%;
    position: fixed;
}
.header-left{
    float: left;
    width: 33%;
    padding: 20px;
    font-size: 20px;
}
.header-left{
    padding: 15px 5px;
}
.header-left h2 {
    cursor: pointer;
    font-size: 20px;
    font-family: bold;
    color: rgb(14, 14, 16);
}
.header-left p{
    color: #bbb;
    
}
.header-left img {
    width: 13%;
    float: left;
    padding: 10px;
}
input.search-bar {
    width: 50%;
    border: 2px solid #bbb;
    border-radius: 22px;
    padding: 10px 10px;
    font-size: 15px;
    transition: width 1s ease;
}

input.search-bar:focus{
    outline: none;
    border: 2px solid #bbb;
    width: 93%;
}
.header-left span i{
    float: left;
    margin-top: 5%;
    padding: 1%;
   
}

i.fas.fa-search {
    background-color: rgb(55, 55, 213);
    color: #ffff;
    width: 38px;
    height: 41px;
    line-height: 38px;
    text-align: center;
    margin-left: -36px;
    border-top-right-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
}
.card{
    float: left;
     width: 25%;
     border-radius: 15px 15px;
     background-color:  rgb(55, 55, 213);
     box-shadow: 10px 10px 10px rgba(194, 188, 188);
     color: #ebdede;
     margin-top: 110px;
     margin-bottom: 10px;
     margin-left: 1%;
     padding: 40px;
     margin-right: 6%;
     font-size: 20px; 
     font-style: bold;
     
 }
 .card h1{
     text-align: end;
 }
 .card i{
     text-align: start;
 }

 .fa-user::after{
    content: "\f0c0";
    font-family: italic;
    position: absolute;
    right: 0;
}
.fa-user-group::after{
    content: "\f0c0";
    font-family: italic;
    position: absolute;
    right: 0;
}
.fa-screen-users::after{
    content: "\f0c0";
    font-family: italic;
    position: absolute;
    right: 0;
}
.fa-user-pen::after{
    content: "\f0c0";
    font-family: italic;
    position: absolute;
    right: 0;
}
.fa-user-doctor::after{
    content: "\f0c0";
    font-family: italic;
    position: absolute;
    right: 0;

}
.fa-file-lines::after{
    content: "\f0c0";
    font-family: italic;
    position: absolute;
    right: 0;
}
/**charts**/

.graphbox{
    position: relative;
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
}
.graphbox .box{
    position: relative;
    background:  whitesmoke;
    padding: 20px;
    width: 95%;
    box-shadow: 0 7px 25px rgb(194, 188, 188);
    border-radius: 20px;
}

/**container **/

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: white;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-inline-end: 10px;
    
}

button{
    color: rgb(51, 30, 158);
    text-align: center;
    width: 100px;
    height: 30px;
    border-radius:0px 50%;
    margin-left: 10px;
}

.content{
    border: none;
    box-shadow:  0 6px 20px 0 rgba(20, 20, 32, 0.5);
    height: 360px;
    width: 22%;
    margin: 1rem;
    text-align: center;
}

.content-img {
    height: 150px;
    padding: 20px 0px 15px;
    margin-left: 1rem;
    margin-right: 1rem;
    background-size: cover;
    margin-bottom: 1rem;   
    padding: 60px;
}
.content p{
    color: black;
}
p{
    color:  rgb(214, 210, 206);
}

@media (max-width: 991px){
    .graphbox{
        grid-template-columns: 1fr;
    }
}